.articleWrap .catalogue .simplebar-track.simplebar-horizontal,
.articleWrap .article .simplebar-track.simplebar-horizontal,
.articleWrap .article .articleBody .simplebar-track.simplebar-horizontal {
    /* 滚动条高度 */
    height: 12px;
}

/* 设置滚动条中的滑块高度和滚动条高度相同,避免出现padding */
.articleWrap .catalogue .simplebar-track.simplebar-horizontal .simplebar-scrollbar,
.articleWrap .article .simplebar-track.simplebar-horizontal .simplebar-scrollbar,
.articleWrap .article .articleBody .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
    height: 12px;
}

/* 设置滑块样式 */
.articleWrap .catalogue .simplebar-track.simplebar-horizontal .simplebar-scrollbar::before,
.articleWrap .article .simplebar-track.simplebar-horizontal .simplebar-scrollbar::before,
.articleWrap .article .articleBody .simplebar-track.simplebar-horizontal .simplebar-scrollbar::before {
    /* 滑块颜色渐变 */
    background: linear-gradient(-90deg, #21AAFF 2.94%, #2CFBFF 91.18%);
}