.articleWrap .catalogue .simplebar-track.simplebar-vertical,
.articleWrap .article .simplebar-track.simplebar-vertical {
    /* 滚动条宽度 */
    width: 12px;
}

/* 设置滚动条中的滑块宽度和滚动条宽度相同,避免出现padding */
.articleWrap .catalogue .simplebar-track.simplebar-vertical .simplebar-scrollbar,
.articleWrap .article .simplebar-track.simplebar-vertical .simplebar-scrollbar {
    width: 12px;
}

/* 设置滑块样式 */
.articleWrap .catalogue .simplebar-track.simplebar-vertical .simplebar-scrollbar::before,
.articleWrap .article .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
    /* 滑块颜色渐变 */
    background: linear-gradient(0deg, #21AAFF 2.94%, #2CFBFF 91.18%);
}
