.articleWrap {
    flex: 1 1 auto;
    /* 防止contentWrap把滚动传给body */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    column-gap: 31px;
    padding: 29px 100px 49px;
    /*background: darkkhaki;*/
}

/* 设置滚动条 防止整个页面出现滚动条 */
.articleWrap .catalogue, .articleWrap .article {
    height: 100%;
    min-height: 0;
    overflow: auto;
    border-radius: 20px;
    border: 1px solid #21AAFF;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.30) 0.23%, rgba(0, 0, 0, 0.30) 99.78%);
}
