.catalogue {
    /*background: darkgrey;*/
    padding: 24px 0 0 24px;
    transition:
        width 0.8s ease-in-out,
        opacity 0.8s ease-in-out;
}

.catalogueActive {
    width: 70%;
    opacity: 1;
    pointer-events: auto;
}

.catalogueInactive {
    width: calc(100% - 70% - 31px);
    opacity: 0.3;
    pointer-events: none;
}

.catalogue h3 {
    margin-bottom: 28px;
    color: #2CFBFF;
    font-family: "Source Han Serif CN", serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: 38px;
    letter-spacing: 2px;
}
