.catalogue {
    /*background: darkgrey;*/
    padding: 24px 0 0 24px;
}

.catalogueActive {
    width: 70%;
    opacity: 1;
}

.catalogue h3 {
    margin-bottom: 28px;
    color: #2CFBFF;
    font-family: "Source Han Serif CN", serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: 38px;
    letter-spacing: 2px;
}
