* {
    box-sizing: border-box;
}

:root {
    /* 每层缩进步长 */
    --tree-indent: 21px;
    /* 每层ul起始缩进 现在的设计中没有这个缩进 本变量属于便于未来扩展的设计 */
    --tree-base: 0px;
    /* 线条颜色 */
    --tree-line-color: #2cfbff;
    /* 线条宽度 */
    --tree-line-width: 1px;
    /* li中每个row的高度(其实就是折叠时的li高度) row的上下内边距均为12px,字体大小18px,共计42px */
    --row-height: 42px;
}

body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    /*opacity: 0.1;*/
    background: url('./img/background.jpg') lightgray 50% / cover no-repeat;
}

button {
    border: none;
    outline: none;
}