* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    /*opacity: 0.1;*/
    background: url('./img/background.png') lightgray 50% / cover no-repeat;
}

.header {
    flex: 0 0 100px;
    border-bottom: 2px solid #21AAFF;
    background: rgba(0, 0, 0, 0.40);
}

.contentWrap {
    flex: 1 1 auto;
    /* 防止contentWrap把滚动传给body */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    column-gap: 31px;
    padding: 29px 100px 49px;
    background: darkkhaki;
}

.contentWrap .catalogue, .contentWrap .content {
    height: 100%;
    min-height: 0;
    overflow: auto;
    border-radius: 20px;
    border: 1px solid #21AAFF;
    /*background: linear-gradient(90deg, rgba(0, 0, 0, 0.30) 0.23%, rgba(0, 0, 0, 0.30) 99.78%);*/
}

.contentWrap .catalogue {
    width: 60%;
    background: darkgrey;
}

.contentWrap .content {
    width: calc(100% - 60% - 31px);
    background: darkcyan;
}