/* 每个节点的第1行 展示name的那一行 */
.node > .row {
    /*
        Tips: 这个定位有2个作用:

        1. 用于控制渐变层(而非是row这个盒子)
        2. 让row可以作为定位参照
    */
    position: relative;
    width: 100%;
    padding: 12px 0;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Tips: 这里由于鼠标悬停时无法过渡background属性,所以使用伪元素实现悬停颜色渐变的过渡效果 */
.node > .row::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, rgba(32, 198, 216, 0.10) 0.23%, rgba(32, 198, 216, 0.10) 99.78%);
    opacity: 0;
    transition: opacity 0.8s;
    pointer-events: none;
}

.node > .row:hover::before {
    opacity: 1;
}

/* 确保文字在渐变层上 */
.node > .row > * {
    position: relative;
    z-index: 1;
}

/*
case1. depth = 0时的node
    node对应的row: 梯形 + 24px加粗文字
*/
.primaryRow {
    display: flex;
    column-gap: 10px;
}

.primaryRow .leftTrapezoid {
    width: 6px;
    height: 24px;
    background: #20c6d8;
    clip-path: polygon(
        0px 0px,
        6px 5px,
        6px 19px,
        0px 24px
    );
}

.primaryRow .literal {
    color: #FFF;
    font-family: "Source Han Serif CN", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
    transition: color 0.8s ease;
}

/*
case2. depth > 0时的node
    case2.1 node.type === folder
        node对应的row: 有状态的箭头
*/
.node_folder > .folderRow {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.node_folder > .folderRow .icon-right {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    font-size: 14px;
    color: #20c6d8;
    border: 1px solid #20c6d8;
    border-radius: 1px;

    /* 箭头旋转动效 */
    /* Tips: 注意旋转动效的持续时长和展开/折叠动效的持续时长一致 */
    transition: transform 0.3s ease;
    transform-origin: 50% 50%;
}

/* 展开态(折叠 -> 展开) */
.node_folder:not(.isCollapsed) > .folderRow .icon-right {
    transform: rotate(90deg);
}

/* 折叠态(展开 -> 折叠) */
.node_folder.isCollapsed > .folderRow .icon-right {
    transform: rotate(0deg);
}

/* folder和file中的文字样式都是一样的 */
.node_folder > .folderRow .literal,
.node_file > .fileRow .literal {
    overflow: hidden;
    color: #FFFFFF;
    text-overflow: ellipsis;
    font-family: "Source Han Serif CN", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 1px;
    transition: color 0.8s ease;
}

/* 悬停当前row时 改变当前row里的文字颜色 */
.row:hover > .literal {
    color: #2CFBFF;
}

/*
case2. depth > 0时的node
	case2.2 node.type === file
		node对应的row: 文件图标
*/
.node_file > .fileRow {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.node_file > .fileRow .icon-file {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    font-size: 14px;
    color: #20c6d8;
}

.node_folder > ul {
    overflow: hidden;
    /* 展开后的高度为auto 即随内容变化 */
    height: auto;
}

.node_folder.animating > ul {
    transition: height 0.3s ease;
    pointer-events: none;
}

.node_folder.isCollapsed > ul {
    height: 0;
}

/* 若客户端开启动画减弱 则不做过渡动画 */
@media (prefers-reduced-motion: reduce) {
    .node_folder > ul,
    .node_folder.animating > ul {
        transition: none !important;
    }
}

/* 让li能作为定位参照 */
.tree li {
    position: relative;
}

/* 只对非root节点画线 */
.tree ul.children > li::before, .tree ul.children > li::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

/* 计算竖线的x坐标 */
.tree ul.children > li {
    /* 竖线的x坐标 = 起始缩进 + (深度 * 缩进步长) - 缩进步长 / 2 */
    /* Tips: 这里的深度是JS写到每个li元素中的变量 */
    --branch-x: calc(var(--tree-base) + (var(--depth) * var(--tree-indent)) - var(--tree-indent) / 2);
}

/* 绘制横线: 从竖线拐到每个li节点 */
.tree ul.children > li::before {
    left: var(--branch-x);
    top: calc(var(--row-height) / 2);
    width: calc(var(--tree-indent) / 2);
    border-top: var(--tree-line-width) solid var(--tree-line-color);
}

/* 绘制竖线 */
.tree ul.children > li::after {
    left: var(--branch-x);
    /* 竖线贯穿整个li */
    top: 0;
    bottom: 0;
    border-left: var(--tree-line-width) solid var(--tree-line-color);
}

/* 最后一个li: 竖线只到自身中线位置处停止 实现`└`效果 */
.tree ul.children > li:last-child::after {
    bottom: auto;
    height: calc(var(--row-height) / 2);
}